@using Microsoft.AspNetCore.Http.Features
@model SellerDto

<h1 class="bg-success p-3 text-light rounded mt-3">@Model.Name</h1>

<div class="container-fluid bg-light">
    <b>Shops:</b>
    @foreach(var item in @Model.OwnedShops) {
         <span class="bg-warning p-1 m-1 rounded">@item.ShopName</span>
    }
</div>

<div class="container-fluid bg-light">
    <p class="mt-3"><b>Bio: </b>@Model.Bio</p>
</div>


<div class="container-fluid bg-light">
    <p><b>Date of Birth:</b> @Model.DateOfBirth</p>
    <p><b>Creation Date:</b> @Model.ProfileCreationTime</p>
</div>


