@using Microsoft.AspNetCore.Http.Features
@model SellerDto

<h1 class="bg-success p-3 text-light rounded mt-3">@Model.Name</h1>

<div class="m-2 p-1">
    @if(ViewBag.action == "edit") {
        <a asp-controller="Seller" asp-action="SingleSeller" asp-route-id="@Model.Id"  class="btn btn-warning">Cancel Edit</a> 
        <a class="btn btn-danger mx-2">Delete</a> 
    } else if(ViewBag.action == "delete") {
        <a asp-controller="Seller" asp-action="SingleSeller" asp-route-id="@Model.Id"  class="btn btn-warning">Cancel Delete</a> 
        <a asp-controller="Seller" asp-action="SingleSeller" asp-route-id="@Model.Id" asp-route-mode = "edit" class="btn btn-warning">Edit</a> 
    } else {
        <a asp-controller="Seller" asp-action="SingleSeller" asp-route-id="@Model.Id" asp-route-mode = "edit" class="btn btn-warning">Edit</a> 
        <a asp-controller="Seller" asp-action="SingleSeller" asp-route-id="@Model.Id" asp-route-mode = "delete" class="btn btn-danger mx-2">Delete</a> 
    }
</div>

@if(ViewBag.action == "edit") {
    <div class="m-2 p-1">

    </div>

    <b>Shops:</b>
    @foreach(var item in @Model.OwnedShops) {
        <span class="bg-info p-1 m-1 rounded">@item.ShopName</span>
    }

    <form class="form" method="post" asp-controller="Seller" asp-action="EditSeller">
        <div class="container-fluid bg-light">
            <input asp-for="Id" type="hidden" />
            <p class="mt-3"><b>Name: </b><textarea class="form-control" name="Name">@Model.Name </textarea></p>
            <p class="mt-3"><b>Bio: </b><textarea class="form-control" name="Bio">@Model.Bio </textarea></p>
            <p><b>Date of Birth:</b> <input asp-for="DateOfBirth" type="Date" class="form-control" /></p>
            <input type="submit" class="btn btn-warning" value="Update" />
        </div>
    </form>




} else if(ViewBag.action == "delete") {

    <div class="container-fluid">
        <h3>Are you sure?</h3>
        <form method="post" asp-controller="Seller" asp-action="DeleteSeller" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="Id" />
            <input type="submit"  class="btn btn-danger" value="Delete" />
        </form>
    </div>



} else {
    <div class="container-fluid bg-light">
        <b>Shops:</b>
        @foreach(var item in @Model.OwnedShops) {
            <span class="bg-info p-1 m-1 rounded">@item.ShopName</span>
        }
    </div>
    <div class="container-fluid bg-light">
        <p class="mt-3"><b>Bio: </b>@Model.Bio</p>
    </div>
    <div class="container-fluid bg-light">
        <p><b>Date of Birth:</b> @Model.DateOfBirth</p>
        <p><b>Creation Date:</b> @Model.ProfileCreationTime</p>
    </div>
}